body {
    margin: 0;
    padding: 0;
    background: rgb(245, 243, 89);
}

header {
    background-color: rgb(194, 194, 55);
    margin: 0;
    border: 0.5vh solid #0005;
}

header img {
    width: 20vw;
    padding: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0vw;
    display: block;
    margin: auto;
}

nav ul {
    font-size: 1.5vw;
    padding: 0%;
    margin: 0%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    padding-bottom: .3%;
    text-align: center;
}

a.menu {
    text-decoration: none;
    color: rgb(146, 127, 0);
}

a.menu:hover {
    color: red;
}

#texto-um {
    margin-right: 2.5%;
    margin-top: 2%;
    width: 40%;
    float: right;
    text-align: justify;
}

#imagem-um {
    box-sizing: border-box;
    margin: 2.5% 0 0 2.5%;
    width: 52.5%;
    clear: both;
    border: 2px solid black;
}

#texto-dois {
    float: left;
    width: 52.5%;
    margin: 2.5% 2.5% 0 2.5%;
    text-align: justify;
}

#imagem-dois {
    box-sizing: border-box;
    margin-right: 2.5%;
    width: 40%;
    margin-top: 1.5%;
    float: right;
    border: 2px solid black;
    margin-bottom: 2.5%;
}

h1, h2 {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

footer {
    width: 100%;
    clear: both;
    background-color: rgb(194, 194, 55);
    margin: 0;
    border-top: 0.5vh solid #0005;
}

footer h2 {
    color: black;
} 

footer ul {
    font-size: 1.5vw;
    padding: 0%;
    margin: 0%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2vw;
}
