body {
    background-image: linear-gradient(45deg, green, yellow);
    background-repeat: no-repeat;
}

html, body {
    padding: 0 0 0 0;
    margin: 0;
    min-height: 100%;
}

header:first-child {
    margin-top: 0;
}

header, #menupages {
    background-image: linear-gradient(45deg, rgb(0, 255, 213), rgb(6, 139, 117));
    margin: 0;
}

header img {
    box-sizing: border-box;
    padding-top: .5vw;
    width: 20vw;
    display: block;
    margin: auto;
    padding-bottom: .5vw;
}

#menupages {
    margin-top: 0;
    border-bottom: 2px solid #0005;
    border-top: 2px solid #0005;
    position: sticky;
    top: 0;
    padding-top: .4vw;
    padding-bottom: .4vw;
}

ul {
    font-size: 1.3vw;
    padding: 0%;
    margin: 0%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Ubuntu', sans-seriff;
}

nav ul li {
    padding-top: .2%;
    text-align: center;
}

a.menu {
    color: blue;
    text-decoration: none;
}

a.menu:hover {
    color: red;
}

.menu {
    background-color: yellow;
    border: 1px solid yellow;
    border-radius: 5px;
}

a.menu:hover {
    background-color: limegreen;
    border: 1px solid limegreen;
    border-radius: 5px;
}

nav ul li .menu::selection {
    color: blue;
    background-color: green;
}

h2 {
    font-family: 'Splash', cursive;
}

footer {
    margin-bottom: 0;
    clear: both;
    background-image: linear-gradient(45deg, rgb(0, 255, 213), rgb(6, 139, 117));
    border-top: 2px solid #0005;
    text-align: center;
    padding-bottom: 1vw;
}

footer li::selection, footer h2::selection {
    color: blue;
    background-color: lime;
}

#primeiro-artigo-prg {
    margin-top: 3%;
    width: 42.5%;
    float: left;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid rgb(0, 255, 213);
    background-image: linear-gradient(45deg, rgb(6, 139, 117), rgb(0, 255, 213));
    border-radius: 5px;
    padding: .2%;
    text-align: justify;
}

#primeiro-artigo-prg img {
    border: 1px solid rgb(0, 255, 213);
    border-radius: 5px;
    display: block;
    margin: auto;
    width: 50%;
}

#primeiro-artigo-prg p {
    width: 100%;
    font-family: 'Barlow', sans-serif;
}

#primeiro-artigo-prg h2 {
    text-align: center;
}

#primeiro-artigo-prg h2::selection, #primeiro-artigo-prg p::selection {
    color: blue;
    background-color: lime;
}

#segundo-artigo-prg {
    padding: .2%;
    border: 1px solid rgb(0, 255, 213);
    background-image: linear-gradient(45deg, rgb(0, 255, 213), rgb(6, 139, 117));
    border-radius: 5px;
    margin-top: 3%;
    float: right;
    margin-right: 5%;
    box-sizing: border-box;
    text-align: center;
    width: 42.5%;
    text-align: justify;
}

#segundo-artigo-prg img {
    border: 1px solid rgb(0, 255, 213);
    border-radius: 5px;
    width: 50%;
    display: block;
    margin: auto;
}

#segundo-artigo-prg p {
    width: 100%;
    font-family: 'Barlow', sans-serif;
}

#segundo-artigo-prg h2::selection, #segundo-artigo-prg p::selection {
    color: blue;
    background-color: lime;
}

#terceiro-artigo-prg {
    clear: both;
    margin-top: 2vw;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    box-sizing: border-box;
    text-align: justify;
}

#terceiro-artigo-prg p {
    box-sizing: border-box;
    float: right;
    width: 70%;
    margin-left: 5%;
    font-family: 'Barlow', sans-serif;
}

#terceiro-artigo-prg img {
    box-sizing: border-box;
    width: 25%;
    margin-bottom: 3vw;
    border: 2px solid green;
    border-radius: 6px;
}

#terceiro-artigo-prg h2 {
    text-align: center;
    margin-top: 10vw;
}

#terceiro-artigo-prg h2::selection, #terceiro-artigo-prg p::selection {
    color: blue;
    background-color: lime;
}

#obras {
    clear: both;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

dl {
    font-family: 'Ubuntu', sans-seriff;
    padding: 2vw;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    font-size: larger;
    text-align: center;
}

dt img {
    box-sizing: border-box;
    border: 2px solid #0005;
    border-radius: 5px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: .5vw;
    margin-bottom: .5vw;
}

dt {
    border-top: 2px solid #0005;
    border-bottom: 2px solid #0005;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

#obras h2 {
    text-align: center;
}

#obras h2::selection, dt::selection {
    color: blue;
    background-color: lime;
}
