body {
    margin: 0;
    padding: 0;
    background: rgb(250, 248, 163);
}
p, #texto-um p {
    font-family: 'Barlow', sans-serif;
}

p::selection {
    color: white;
    background-color: black;
}

span::selection {
    color: white;
    background-color: black;
}

mark::selection {
    color: white;
    background-color: black;
}

footer li::selection, footer h2::selection {
    color: white;
    background-color: black;
}

h1::selection, h2::selection {
    color: white;
    background-color: black;
}

#menupages span, #menupages a, footer {
    font-family: 'Ubuntu', sans-serif;
}


#menupages {
    padding-top: .7vw;
    height: 2.2vw;
    border-bottom: .5vw solid #0005;
    position: sticky;
    top: 0;
}

header, #menupages {
    background-color: rgb(194, 194, 55);
    margin: 0;
}

header img {
    width: 20vw;
    padding: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0vw;
    display: block;
    margin: auto;
}

h2 {
    font-size: 3vw;
}

p {
    font-size: 1.5vw;
}

nav ul {
    font-size: 1.3vw;
    padding: 0%;
    margin: 0%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    padding-top: .2%;
    text-align: center;
}

a.menu {
    text-decoration: none;
    color: rgb(146, 127, 0);
}

a.menu:hover {
    color: red;
}

#img1 {
    box-sizing: border-box;
    margin: 0% 2.5%;
    width: 45%;
    float: right;
}

#texto-um {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    width: 75%;
    text-align: justify;
    border: .5vw solid gray;
    background-color: rgb(194, 194, 55);
}

#texto-um p {
    padding-left: 2%;
    padding-right: 2%;
}

#imagem-um {
    box-sizing: border-box;
    width: 100%;
    clear: both;
}

#texto-dois {
    clear: both;
    width: 75%;
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

#imagem-dois {
    box-sizing: border-box;
    WIDTH: 100%;
    margin-bottom: 2.5%;
}

#img2 {
    clear: both;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    margin-top: 30%; 
}

h2 {
    font-family: 'Splash', cursive;
    text-align: center;
}

footer {
    width: 100%;
    clear: both;
    background-color: rgb(194, 194, 55);
    margin: 0;
    border-top: .5vw solid #0005;
}

footer h2 {
    color: black;
} 

footer ul {
    font-size: 1.5vw;
    padding: 0%;
    margin: 0%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2vw;
}

#franz {
    float: left;
    box-sizing: border-box;
    width: 100%;
}

#assssn {
    float: right;
    box-sizing: border-box;
    width: 100%;
}

#assassino {
    text-align: center;
    display: block;
    margin-right: 2.5%;
    margin-top: 2%;
    width: 25%;
    float: right;
}

#francisco {
    text-align: center;
    float: left;
    padding-top: 2%;
    margin-left: 2.5%;
    width: 25%;
}

#artigosobre {
    box-sizing: border-box;
    display: inline-block;
    margin: 2% 2%;
    width: 41%;
}

#artigosobre > h2 {
    margin-top: 0%;
}


#artigosobre p {
    text-align: justify;
}

#sobre {
    font-size: larger;
    font-weight: bold;
} 

img, iframe {
    border: 2px solid #0005;
}

iframe {
    margin-top: 5%;
    clear: both;
    display: block;
    margin-bottom: 2.5%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    width: 80vw;
    height: 45vw;
}


#menupages span::selection, #menupages a::selection {
    color: white;
    background-color: black;
}

@media screen and (max-width: 800px) {
    #francisco {
        box-sizing: border-box;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    #artigosobre {
        clear: both;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    #assassino {
        box-sizing: border-box;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    #texto-um {
        width: 90%;
    }

    #texto-dois {
        width: 90%;
    }
}

@media screen and (max-width: 300px) {
    #img1 {
        width: 95%;
    }
}
